.about_container {
  height: auto;
  max-width: 350px;
  width: 100%;
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 9px 15px rgba(0, 0, 0, 0.2);
}
.about_container .dp img {
  height: 250px;
  width: 100%;
}
.about_container .user_details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0.8rem;
  line-height: 1.5;
}
