.showpost_container {
    width: 58%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.show_post {
    width: 85%;
    height: auto;
    background: #fff;
    padding: 3px 13px;
    margin-top: 1.2rem;
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.2);
}

.show_post h3 {
    text-align: center;
    margin: 1rem 0rem;
    font-size: 1.5rem;
}

.show_post p {
    text-align: center;
    line-height: 1.5;
    font-size: 17px;
}