.material_container {
    padding: 10px 20px;
}

.material_container .name {
    font-size: x-large;
    color: black;
}

.material_container .size {
    margin-top: 10px;
    color: #999999;
}

.material_container:hover {
    background: #ddd6ff;
}